body{
	background: gray;
	font-size: 18px;
	font-family: arial, verdana, Helvetica;
	color:black;

}
header{
	background:white;
	color: black;
	font-size: 30px;
	padding: 1em;
	width: 70%;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	border-radius: 10px;
	display: block;
	text-transform: uppercase;
	text-shadow:5px 5px 5px rgba(0,0,0,0.5);

}
.cajatexto{
	text-align: left;
	color: black;
	font-family: verdana, Helvetica, arial;
	border-radius: 5px;
	padding: 1em;

}
.boton{
	background: red;
	color: white;
	padding: 1em;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 10%;
	font-size: 18px;
	text-transform: uppercase;
}
